<div class='box'>
  <form class='field' {{action 'authenticate' on='submit'}}>
    <div class='field'>
      <label class='label' for='identification'>Login</label>
      <div class='control'>
        {{input data-test-login='identification' id='identification' class='input' placeholder='Enter Login' value=identification}}
      </div>
    </div>

    <div class='field'>
      <label class='label' for='password'>Password</label>
      <div class='control'>
        {{input data-test-login='password' id='password' class='input' placeholder='Enter Password' type='password' value=password}}
      </div>
    </div>

    <div class='field'>
      <div class='control'>
        <button data-test-login='submit' class='button is-link' type='submit'>Login</button>
      </div>
    </div>
  </form>
</div>
